[submodule "KraisEngine/vendor/glad"]
	path = KraisEngine/vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "KraisEngine/vendor/glfw"]
	path = KraisEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "KraisEngine/vendor/spdlog"]
	path = KraisEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "KraisEngine/vendor/imgui"]
	path = KraisEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "KraisEngine/vendor/glm"]
	path = KraisEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "KraisEngine/vendor/stb"]
	path = KraisEngine/vendor/stb
	url = https://github.com/nothings/stb.git